
        body {
            font-family: "Caveat", cursive;;
            margin: 0;
            padding: 20px;
            background-color: #224f4d;
            color: #c665bc;
            gap: 5%;
        }
     
        @media screen and (min-width: 500px) {
        
        } header {
    display: flex;
    /* how to use flex https://flexbox.malven.co/ */
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
}
#hydro {
    display: flex;
    justify-content:space-evenly;
    border-style:double 40px;
    
    
}
 footer a {
     color: #6ce0e0;
 }
#navigation {
    display: flex;
    gap: 10px;
    a{
        text-decoration: none;
        color:#6ce0e0;
        text-align:left;
}
}
    
    @media screen and (min-width: 700px){

    } #hydrodipcup {
        width: 30%;
        
    }
    
    

        
    